[Unit]
Description=DayZ Server
After=network-online.target
Wants=network-online.target

[Service]
User={{SERVICE_USER}}
WorkingDirectory={{SERVER_ROOT}}
ExecStart={{EXEC_START}}
Restart=on-failure
RestartSec=5
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
